AUTH0_CLIENT=CHANGEME
AUTH0_USER=CHANGEME
AUTH0_PWD=CHANGEME
EMAIL_HOST=CHANGEME
EMAIL_HOST_USER=CHANGEME
EMAIL_HOST_PASSWORD=CHANGEME
NOTIFICATION_RECIPIENTS=CHANGEME,CHANGEME
SIWINS_INSTANCE=CHANGEME
