@import "../../variables";

#root {
  .dashboard-layout {
    min-height: 100vh;
    aside {
      background-color: $bg-grey-dashboard;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
      .menu {
        line-height: 20px;
        background-color: inherit;
        li {
          cursor: pointer;
          display: block;
          padding: 20px 20px 20px 0px;
          height: 90px;
          margin: 0;
          width: 100%;
          border-radius: 0px;
          border-bottom: 1px solid #bbb9b9;
          &.ant-menu-item-selected {
            background: #c1e0f1;
            border-bottom: 10px solid #2493fd;
            border-top: none;
          }
        }
        .ant-menu-title-content {
          width: 130px;
          margin: auto 0 auto auto;
          display: block;
          text-align: center;
          line-height: normal;
          p {
            margin-bottom: 0;
          }
          span {
            display: block;
            line-height: initial;
            margin: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            color: #262626;
          }
        }
      }
      .ant-layout-sider-trigger {
        background-color: $bg-grey-dashboard;
      }
      .ant-layout-sider-children {
        text-align: right;
        .logo-container {
          height: 100px;
          margin: 20px 40px;
        }
      }
    }
    .site-layout {
      background-color: $white;
      .ant-layout-header {
        background-color: $bg-grey-dashboard;
        padding: 20px 40px;
        height: 140px;
      }
      .dashboard-content {
        padding: 20px;
      }
    }
  }
}
