#map-view {
  .map-container {
    position: relative;
    .indicator-dropdown-container {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      padding: 5px;
      font-size: 12px;
      font-family: inherit;
      width: 400px;
      background: #fff;
      z-index: 1000;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
      border-radius: 5px;
      .ant-select {
        width: 100%;
      }
      .options-container {
        padding: 20px 0px 0px;
        .ant-space {
          width: 100%;
          .ant-space-item {
            display: inline-flex;
            gap: 0px;
            flex-direction: column;
            button {
              width: 100%;
              text-align: left;
              height: auto;
              border-radius: 0px;
              span {
                color: #fff;
              }
            }
          }
        }
      }
      .option-info-container {
        .ant-alert {
          background-color: #fff;
          border: none;
          padding: 8px 0px;
          margin-top: 20px;
          border-top: 1px solid #e4e4e4;
          border-radius: 0px;
        }
      }
    }
    .bottom-filter-container {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 10px;
      padding: 5px;
      font-size: 12px;
      font-family: inherit;
      width: 300px;
      background: #fff;
      z-index: 1000;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
      border-radius: 5px;
      .ant-collapse-header {
        &:hover {
          background: #007bff !important;
          span {
            color: #fff;
          }
        }
      }
      .ant-collapse-content-box {
        padding: 10px 5px;
        button {
          width: 100%;
          text-align: left;
          height: auto;
          &.selected {
            background: #dc3545;
            span {
              color: #fff;
            }
          }
          &:hover {
            background: #007bff !important;
            span {
              color: #fff;
            }
          }
        }
        .enable-button {
          text-align: center;
          span {
            color: #fff;
          }
        }
      }
    }

    .custom-marker-cluster {
      border-radius: 50%;
      color: #000000;
      height: 33px;
      text-align: center;
      width: 33px;
    }
  }
}
