.logo {
  float: left;
  width: fit-content;
  height: 31px;
  /* margin: 16px 24px 16px 0; */
  color: rgba(255, 255, 255, 0.75);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-header {
}

.site-layout-content {
  min-height: 87vh !important;
  background: #fff;
}

.site-layout-footer {
  z-index: 1;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5) !important;
}

.map-wrapper {
  height: 100% !important;
  background: rgba(69, 173, 217, 0.15) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(69, 173, 217, 0.15);
  border-radius: 20px 0px 0px 20px;
}
.map-container {
  width: 100% !important;
  height: 87vh !important;
}

.loading-wrapper {
  padding: 50px 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
