@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;500;600;700&display=swap");

#root {
  font-family: $font-family !important;
  font-size: 1rem;

  .container {
    padding: $padding-container-y $padding-container-x;
    min-height: calc(100vh - 10rem);
  }
  a,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $black;
    font-family: $font-family !important;
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
}
